.popup {
    .modal-content {
        // border: solid 1px $color_stroke;
        border-radius: $border_radius !important;
        box-shadow: $shadow_1;
    }
    .modal-content .close.back-blur.back-glass-effect {
        position: absolute;
        right: 7px;
        top: 7px;
        box-shadow: $shadow_1;
        outline: none;

        // border: solid 1px $color_stroke;
        color: black !important;
        background-color: white !important;
        transition: all 0.25s $transition_function;
        z-index: 2;
        &:hover {
            // background-color: $color_black;
            // border: solid 1px $color_black;
        }
        span{
            color:black !important;
        }
    }
}
#popup_preview {
    .modal-content {
        max-width: 20rem;
    }
}
